// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

/ {
  behaviors {
    u_mt: u_mt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
#if defined(MIRYOKU_TIMELESS_HRM)
      tapping-term-ms = <320>;
      quick-tap-ms = <200>;
      require-prior-idle-ms = <190>;
      flavor = "hold-preferred";
      hold-trigger-on-release;
#else
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
#endif
      bindings = <&kp>, <&kp>;
    };
    u_lt: u_lt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
    };
  };
};
